In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [4]:
df=pd.read_csv("/content/drive/My Drive/data/used_car.csv")
df

                                     name  year  ...  transmission         owner
0                           Maruti 800 AC  2007  ...        Manual   First Owner
1                Maruti Wagon R LXI Minor  2007  ...        Manual   First Owner
2                    Hyundai Verna 1.6 SX  2012  ...        Manual   First Owner
3                  Datsun RediGO T Option  2017  ...        Manual   First Owner
4                   Honda Amaze VX i-DTEC  2014  ...        Manual  Second Owner
...                                   ...   ...  ...           ...           ...
4335  Hyundai i20 Magna 1.4 CRDi (Diesel)  2014  ...        Manual  Second Owner
4336           Hyundai i20 Magna 1.4 CRDi  2014  ...        Manual  Second Owner
4337                  Maruti 800 AC BSIII  2009  ...        Manual  Second Owner
4338     Hyundai Creta 1.6 CRDi SX Option  2016  ...        Manual   First Owner
4339                     Renault KWID RXT  2016  ...        Manual   First Owner

[4340 rows x 8 columns]

In [5]:
df=df.drop(["name"],axis=1)

In [6]:
df.isnull().sum()

year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
dtype: int64

In [7]:
print("seller       :",df.seller_type.unique())
print('year         :',df.year.unique())
print('transmission :',df.transmission.unique())
print("fuel type    :",df.fuel.unique())
print("owner        :",df.owner.unique())

seller       : ['Individual' 'Dealer' 'Trustmark Dealer']
year         : [2007 2012 2017 2014 2016 2015 2018 2019 2013 2011 2010 2009 2006 1996
 2005 2008 2004 1998 2003 2002 2020 2000 1999 2001 1995 1997 1992]
transmission : ['Manual' 'Automatic']
fuel type    : ['Petrol' 'Diesel' 'CNG' 'LPG' 'Electric']
owner        : ['First Owner' 'Second Owner' 'Fourth & Above Owner' 'Third Owner'
 'Test Drive Car']

In [8]:
final_df=pd.get_dummies(df,drop_first=True)

In [9]:
final_df

      year  selling_price  ...  owner_Test Drive Car  owner_Third Owner
0     2007          60000  ...                     0                  0
1     2007         135000  ...                     0                  0
2     2012         600000  ...                     0                  0
3     2017         250000  ...                     0                  0
4     2014         450000  ...                     0                  0
...    ...            ...  ...                   ...                ...
4335  2014         409999  ...                     0                  0
4336  2014         409999  ...                     0                  0
4337  2009         110000  ...                     0                  0
4338  2016         865000  ...                     0                  0
4339  2016         225000  ...                     0                  0

[4340 rows x 14 columns]

In [10]:
list(final_df.columns)

['year',
 'selling_price',
 'km_driven',
 'fuel_Diesel',
 'fuel_Electric',
 'fuel_LPG',
 'fuel_Petrol',
 'seller_type_Individual',
 'seller_type_Trustmark Dealer',
 'transmission_Manual',
 'owner_Fourth & Above Owner',
 'owner_Second Owner',
 'owner_Test Drive Car',
 'owner_Third Owner']

In [11]:
final_df = final_df.rename(columns = {'owner_Fourth & Above Owner': 'fourth_owner', 'owner_Second Owner': 'second_owner', 'owner_Test Drive Car': 'first_owner', 'owner_Third Owner': 'third_owner'}, inplace = False)

In [12]:
X=final_df.drop(["selling_price"],axis=1)
y=final_df.iloc[:,1]

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [14]:
from sklearn.ensemble import RandomForestRegressor

In [17]:
regressor=RandomForestRegressor(max_depth= 15,
 min_samples_leaf= 2,
 min_samples_split= 10,
 n_estimators=1100)

In [20]:
regressor.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=15, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=2,
                      min_samples_split=10, min_weight_fraction_leaf=0.0,
                      n_estimators=1100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [21]:
predictions=regressor.predict(X_test)

In [23]:
import pickle
# open a file, where you ant to store the data
file = open('used_car_regression_model.pkl', 'wb')

# dump information to that file
pickle.dump(regressor, file)